<template>
  <q-header>
    <q-toolbar class="bg-indigo-5">
      <q-toolbar-title>Fresh Shipping <small>Tus pedidos mas faciles</small> </q-toolbar-title>
      <q-btn 
      flat 
      dense
      to="Register"
      id="registraboton"
      >
      Registrar
      </q-btn>
      <q-btn
          flat
          dense
           to="LoginPage"
          >
       
           Ingresar  
     
      </q-btn>
    </q-toolbar>
  </q-header>
</template>

<script>

export default {
  name: "LandingToolbar",
};
</script>

<style scoped>

  #registraboton {
    padding-right: 10px;
  }

  a {
    text-decoration: none;
  }


</style>

