<template>
    <q-layout view="hHh lpR fFf">
      <landing-toolbar></landing-toolbar>
      <q-page>
        <q-input 
        rounded filled 
        v-model="text" 
        label="Rounded filled"></q-input>
        <q-input 
        rounded filled 
        v-model="password" 
        label="Rounded filled"></q-input>
      </q-page>
      


  </q-layout>
</template>

<script>
import LandingToolbar from '../LandingPage/LandingToolbar.vue'

export default {
  components: { LandingToolbar },
  name: "Login",
    
};
</script>

<style>
    body {
      background-color: #676e91;
    }
</style>