<template>
    <landing-toolbar></landing-toolbar>
</template>

<script>
import LandingToolbar from "../LandingPage/LandingToolbar.vue";


export default ({
    name: "Register",
    components: { LandingToolbar },
    setup() {
        
    },
})
</script>

<style scoped>

</style>
