<template>
  <q-layout view="lHh Lpr lFf">
    <router-view/>
      <landing-toolbar></landing-toolbar>
    <q-page-container>
      <HelloWorld />
    </q-page-container>
  </q-layout>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";
import LandingToolbar from "./components/LandingPage/LandingToolbar.vue";

export default {
  name: "LayoutDefault",

  components: {
    HelloWorld,
    LandingToolbar
  },

  data() {
    return {
      leftDrawerOpen: false,
    };
  },
};
</script>

<style></style>
